<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="travel_1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="library_1.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
ПРО НАС
</div>
<div class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="logo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body text-center">
          <br>
          <h4 class="card-title">Легенда започаткування</h4>
          <br>
          <p class="card-text">
            <i>FREIHERR - це спільнота людей, для яких книги існують. Старе вино вони відрізняють по кольору. 
            Якщо музика, то така, щоб мурашки. Якщо кохання, то назавжди. Існують цінності, які неможливо замінити.
            Саме з такими думками проводив останній день осені перший член нашого клубу. Хотілось зробити чаю,
            але війна залишила його сьогодні без світла. Запаливши свічку, він налив віскі і відкрив книгу.
            Іноді, життя складне, але ми вирішуємо, як до цього ставитись. 
            Тому, FREIHERR створив для вас унікальне інформаційне оточення, де ви можете насолодитись спокійною музикою,
            підібрати книгу, або прочитати статті, написані президентом клубу.</i>
            <br><br>
            <button type="button" class="btn btn-outline-success">Хочу стати членом клубу</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>