<div class="card text-center">
  <div class="card-header" style="padding: 1em; background-color: #21D192">
    <h3><%= @article.title %></h3>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="padding-left: 4em; padding-right: 4em; padding-top: 2em; padding-bottom: 2em;" >
      <%= @article.description %>
    </h5>
    <hr>
    <p class="card-text" style="padding-left: 8em; padding-right: 8em; padding-top: 2em; padding-bottom: 2em;">
      <%= raw @article.text %>
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= @article.created_at.strftime("%B %d, %Y") %>
  </div>
</div>