<div>
  <footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >
    <section
             class="d-flex justify-content-between p-4 text-white"
             style="background-color: #21D192"
             >
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">FREIHERR</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Унікальне інформаційне оточення, де ви можете насолодитись спокійною музикою,
              підібрати книгу, або прочитати статті, написані президентом клубу
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Посилання</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark"><i class="fa-solid fa-camera"></i> Instagram</a>
            </p>
            <p>
              <a href="#!" class="text-dark"><i class="fa-solid fa-video"></i> Youtube</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Контакти</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Київ, Україна</p>
            <p><i class="fas fa-envelope mr-3"></i> slaviksline@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 38 050 769 37 71</p>
          </div>
        </div>
      </div>
    </section>
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 FREIHERR by VIACHESLAV SUKHENKO
    </div>
  </footer>
</div>
